@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

body{
    background: white;
    font-size: 14px;
    line-height:  22px;
    color: black;
}

.heading{
    color: rgb(10, 156, 240);
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi-bold{
    font-weight: 500;
    font-size: 16px;

}

/* Hero Image styles*/

.hero-image{
    background-image: url("images/milkyway.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}

.hero-content{
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    padding: 20% 25px;
}

.hero-text{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text .hero-title{
    font-weight: 700;
    font-size: 4em;
    margin: 50px;
}

.hero-text .hero-subtitle{
    font-weight: 500;
    font-size: 20px;
}

/* Parallax scrolling effect*/
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Summary Styles */

.summary {
    text-align: center;
    margin: 100px;
    
}

.summary-conatiner{
    
    display: flex;
}

.summary-column{
    width: 25vw;
    display: inline-block;
    vertical-align: top;
    
}

.summary .summary-img{
    vertical-align: top;
}

.summary img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    padding: 20px;
    background-color: wheat;
}

.summary .about p{
    text-align: left; 
    margin: 10px;
}

.summary .details p{
    text-align: left;
    margin: 5px;
}

.summary .details .summary-social ul{
    display: flex;
    justify-content: space-between;
}

.summary .details .summary-social ul li{
    margin: 20px;
}

.summary .details .summary-social ul li a{
    color: rgb(0, 183, 255);
    font-size: 30px;
    text-decoration: none;
    transition: color 0.5s;
}

.summary .details .summary-social ul li a .icon{
    background: transparent;
    transition: background 0.5s;
}

.summary .details .summary-social ul li a:hover{
    color: black; 
}


/* Work Experience & Education styles */

.work-experience,
.education{
    text-align: center;
    margin-bottom: 50px;
}

.work-experience .work-experience-container ul,
.education .education-container ul{
    width: 80vw;
    display: inline-block
}

.work-experience .work-experience-container ul li,
.education .education-container ul li{
    display: flex;
    margin: 10px;
}

.work-experience-left img,
.education-right img{
    height: 250px;
    width: 250px;
    border-radius: 15%;
    margin: 10px;
}

.work-experience-right,
.education-left{
    padding: 30px;
}

.job-title,
.degree{
    color:rgb(255, 145, 0);
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
}
.work-experience-right .date,
.education-left .date{
    color:  rgb(0, 183, 255);
    text-align: left;
}

.work-experience-right p,
.education-left p{
    text-align: left;
    margin-bottom: 10px;
}

.education-left .university{
    text-align: left;
}


/* Project styles */ 

.projects{
    text-align: center;
    margin-bottom: 50px;
}

.projects-top{
    display: inline-block;
    background: rgb(214, 214, 214);
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100vw;
}

.project-container{
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
}

.project-contents{
    padding: 40px;
    text-align: center;
}

.projects .heading,
.interests .heading{
    text-align: center;
    padding: 40px;
}

.projects .project-container .heading{
    color: white;
    
}

.projects .project-container p{
    color: white;
    font-size: 20px;
    line-height: 25px;
    margin-left: 40px;
}

/* Project image background styles */
.project-image-background{
    background-position: center;
    background-size: cover;
    height: max-content;  /* max-conent works when padding is used for project-contents*/
    width: 90vw;
}

.project-contents a{
    color: white;
    text-decoration: underline;
}

.projects .project1{
    background-image: url("images/projects/vr1.jpg");
}

.projects .project2{
    background-image: url("images/projects/audio.jpg");
}

.projects .project3{
    background-image: url("images/projects/gaming.jpg");
}

/* ------------------------------- */


.project-container ul {
    margin: 20px;
}

.project-container ul li{
    margin: 20px;
}

.project-github{
    width: 200px;
    height: 100px;
    color: black;
    background-color: grey;
    border-radius: 20%;
    border: black 2px solid;
}

.project-links{
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.project-info-link{
    display: inline-block;  /* replace 'none' with 'inline-block' when suitable link ready */
    color: white;
    font-size: 25px;
    width: 30vw;
    height: 5vw;
    background: rgba(63, 63, 63, 0.5);
    transition: background 0.5s;
    line-height: 30px;
}
.project-info-link:hover{
    background: rgba(0,0,0,1);
}


/* Interests styles */
.interests{
    text-align: center;
}


/* Contact info styles */

.contact{  
    color: white;
    background: grey;
    padding: 50px;
    text-align: center;
}

.contact .heading{
    color: white;
    font-size: 40px;
    text-align: center;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1100px) {
    .column {
      width: 100%;
    }
}

.row{
    margin: 50px;
}

.contact-info{
    display: inline-block;  /* paired with 'text-align: center' in .contact */
}

.emails{
    text-align: center;
}

.email-address{
    display: inline-block;  /* paired with 'text-align: center' in .column */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

.email-content{
    display: flex;
    margin: 10px;
}

.contact .contact-info ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.contact .contact-info .icon{
    margin: 10px;
    display: inline-table;
    width: 50px;
    height: 50px;
    background: white;
    color: #0bb5f4;
    border-radius: 50%;
    font-size: 25px;
}

.contact .contact-info i{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* Link styles */

.contact .contact-info ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.contact .contact-info ul li a .icon{
    background: white;
    transition: background 0.5s;
}

.contact .contact-info ul li a:hover{
    color: black; 
}

.contact .contact-info ul li a:hover .icon{
    background: black;
}


/* Zoom image styles */
.zoom-img{
    transition: transform 0.2s;
}

.zoom-img:hover{
    transform: scale(1.2);
}

/* Navbar styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: rgba(0,0,0,0.2);
    transition: background 0.5s;
}

.nav-wrapper:hover{
    background: rgba(0,0,0,0.8);
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid white;

}
.nav-link-wrapper a:hover {
    color: white;  
}

.active-nav-link a {
    color: white;
}

.nav-wrapper .right-side a {
    margin-right: 20px;
    
    text-transform: uppercase;
    color: white;
}

.dropdown{
    overflow: hidden;
}

.dropdown .dropdown-menu{
    color: white;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content{
    display: none;
    position: absolute;
    text-transform: uppercase;
    background: rgba(0,100,0,0.2);
    transition: background 0.5s;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    transition: background 0.5s;
    float: none;
    padding: 15px 10px;
    display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background: rgba(0,0,0,0.5);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}